body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.diagram {
  height: 100%;
  width: 100%;

  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px !important;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px !important;
  background-blend-mode: difference !important;
  background-image: linear-gradient(rgba(130, 130, 130, 0.5) 1px, transparent 1px),
   linear-gradient(90deg, rgba(130, 130, 130, 0.5) 1px, transparent 1px),
   linear-gradient(rgba(130, 130, 130, 0.25) 1px, transparent 1px),
   linear-gradient(90deg, rgba(130, 130, 130, 0.25) 1px, transparent 1px) !important;

}
.nodes-palette {
  position: absolute;
  top: 40px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.nodes-palette:hover {
  opacity: 1.0;
}

.nodes-palette button {
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-color: rgb(43	45	61);
  border: 1px solid #475872;
  border-radius: 3px;
  color: #d6e7ff;
  transition: border 0.2s;
  transition: border-color 0.2s;
}

.nodes-palette button:hover {
  border: 2px solid #7592bc;
}

.toolbar {
  position: absolute;
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 3px;
  top: 0;
}

.toolbar button {
  cursor: pointer;
}

.diagram-settings {
  position: absolute;
  bottom: 0;
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.diagram-settings button {
  cursor: pointer;
}

.code-editor {
  /* position: absolute; */
  /* top: 0; */
  /* right: 2vh; */
  width: 100%;
  height: 100%;
  background-color: white;
}

.output {
  height: 10%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}